<div class="container">
  <div class="row borders">
    <div class="col-md-12">
      <h1><strong>Donate!</strong></h1>
    </div>
  </div>
  <div class="row borders">
    <div class="col-md-8">
      <%=raw @page.content_for(:body) %>
    </div>
  </div>
</div>